host: 127.0.0.1
port: 3000
commands:
  python:
    - pyls
    - -v
  cpp:
    - ccls
    - >
      --init={
        "capabilities": {"foldingRangeProvider":false},
        "index":{"onChange":true,"trackDependency":2},
        "clang":{
          "resourceDir":"/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/13.1.6"
          }
        }
  # cpp:
  #   - clangd